@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.nav{
        color: #000;
        align: right;
}

.section{
	width: 100%;
	min-height: 200vh;
	background-color:  #ddd;
}
.container{
	width:80%;
	display: block;
	margin: auto;
	padding-top:  0px;
}
.content-section{
       float: left;
       width: 55%
}
.image{
	margin-top: 20px;
}
.image img{
	margin-top: 120px;
	padding-left: 10px;
}
.image-section{

	width:55%;
	


}
.image-section img{
	width:55%;
	height: auto;
	justify-content: right;
	align-items: right;
	float: right;


}
.content-section .title{
	text-transform: :uppercase;
	font-size: 28px;
	
	margin-top: 20px;
}
.content-section .content h3{
	margin-top: 20px;
	color: #5d5d5d;
	font-size: 19px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size:18px;
	line-height: 1.5;
}
.content h3{
	margin-top: 20px;
	color: #5d5d5d;
	font-size: 19px;
}
 
 .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size:18px;
	line-height: 1.5;
}

 
 

@media screen and (max-width: 768px){
	.container{
	width:80%;
	
	display:flex;
	margin: auto;
	padding-top:  px;
	}
	.content-section{
       float:right;

       width: 100%;
       display: block;
       margin: auto;
}
.image-section{
	float: right;
	width: 100%;
	
}
.image-section img{
width: 100%;
height: auto;
/*display: block;*/
justify-content: right;
	align-items: right;
	float: right;

}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
}